html {
	margin: 0px;
	padding: 0px;
	/* background-color: #b58db8; */
	background-color: #ececec;
}

body {
	margin: 0px;
	padding: 0px;
}

#root {
	font-family: "Poppins", sans-serif;
	color: #353535;
}
