.main-homepage-container {
	display: flex;
	flex-direction: column;
}

.homepage-container-child {
	margin-bottom: 2.5rem;
}

.price {
	text-transform: uppercase;
	margin-left: 70%;
	position: sticky;
	position: -webkit-sticky;
	bottom: 15px;
}
