.main-homepage-container {
	display: flex;
	flex-direction: column;
}

.homepage-container-child {
	margin-bottom: 3rem;
}

.price {
	text-transform: uppercase;
	/* align-self: flex-end; */
	margin-left: 72%;
	/* margin-right: 13%; */
	position: sticky;
	position: -webkit-sticky;
	bottom: 15px;
}
