.product-main-container {
	display: flex;
	flex-direction: row;
}

.product-image-container {
	height: 275px;
}

.product-image {
	height: 100%;
	width: 275px;
	object-fit: contain;
	border: 2px solid #b58db8;
	border-radius: 6px;
}

.product-name {
	text-transform: capitalize;
}

.product-description-name {
	font-weight: bold;
}

.unselectable {
	/* Prevent the element from being selected
	This happens when the user clicks on the left and right buttons in
	a quick succesion */
	-moz-user-select: -moz-none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.product-info-container {
	display: flex;
	flex-direction: column;
	margin-left: 1rem;
	width: 100%;
	min-width: 400px;
}

@media only screen and (max-width: 1000px) {
	h2 {
		font-size: 14px;
	}
	.product-info-container {
		margin: 3px;
	}
	.product-image-container {
		height: 250px;
	}
	.product-image {
		height: 250px;
		width: 250px;
	}
}

.product-name {
	flex: 4;
}
.product-information {
	flex: 11;
	font-size: 16px;
	display: flex;
	flex-direction: row;
}

.link-to-product {
	text-decoration: none;
	color: #b58db8;
	font-size: 24px;
}

.link-to-product:hover {
	text-decoration: underline;
}

.product-information-box {
	flex: 3;
	word-break: break-all;
}

.quantity-box {
	flex: 2;
}
