.quantity-main-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
	right: 20%;
	top: 7%;
}

.quantity-button-container {
	width: 32px;
	height: 32px;
	cursor: pointer;
}

.quantity-container {
	font-size: 20px;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	margin: 0;
}
